{% extends 'base.html.twig' %}

{% block body %}
    <h1>Advertisers list<a class="btn btn-outline-success btn-lg float-right" href="{{ path('advertiser_new') }}">New advertiser</a></h1>
    <table class="table table-striped col-md-8">
        <thead>
            <tr>
                <th>Name</th>
                <th># Created ads</th>
                <th>Show</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        {% for advertiser in advertisers %}
            <tr>
                <td>{{ advertiser.name }}</td>
                <td>{{ advertiser.creatives|length }}</td>
                <td><a class="btn btn-outline-primary" href="{{ path('advertiser_show', { 'slug': advertiser.slug }) }}" role="button">Show</a></td>
                <td><a class="btn btn-outline-primary" href="{{ path('advertiser_edit', { 'id': advertiser.id }) }}" role="button">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
