{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ads list</h1>
    <table class="table table-striped col-md-8">
        <thead>
            <tr>
                <th>Created by</th>
                <th>Name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for creative in creatives %}
            <tr>
                <!--<td><a href="{{ path('creative_show', { 'id': creative.id }) }}">{{ creative.id }}</a></td>-->
                <td><a href="{{ path('advertiser_show', { 'slug': creative.advertiser.slug }) }}">{{ creative.advertiser.name }}</td>

                <td>{{ creative.name }}</td>
                <td>{{ creative.status }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('creative_show', { 'id': creative.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('creative_edit', { 'id': creative.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('creative_new') }}">Create a new creative</a>
        </li>
    </ul>
{% endblock %}
