{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creative</h1>

    <dl class="creative-details-list">
        <dt>Name</dt>
        <dd>{{ creative.name }}</dd>
        <dt>Status</dt>
        <dd>{{ creative.status }}</dd>
        <dt>Ad crated by</dt>
        <dd>{{ creative.advertiser.name }}</dd>
    </dl>
    <table class="table table-striped col-md-8">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ creative.name }}</td>
                <td>{{ creative.status }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('creative_edit', { 'id': creative.id }) }}" role="button">Edit</a></td>
                <td>
                    {{ form_start(delete_form) }}
                        <input type="submit" class="btn btn-danger" value="Delete">
                    {{ form_end(delete_form) }}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('creative_index') }}">Back to the list</a>

{% endblock %}
