{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creative</h1>

    <table class="table table-striped col-md-8">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ creative.id }}</td>
                <td>{{ creative.name }}</td>
                <td>{% if creative.status %}Published{% else %}Unpublished{% endif %}</td>
                <td><a href="{{ path('creative_edit', { 'id': creative.id }) }}" type="button" class="btn btn-primary" role="button">Edit</a></td>
                <td>
                    {{ form_start(delete_form) }}
                        <input type="submit" class="btn btn-danger" value="Delete">
                    {{ form_end(delete_form) }}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('creative_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
