{% extends 'base.html.twig' %}

{% block body %}
    <h1>Publisher</h1>
    <div class="publisher-details">
            <dl class="publisher-details-list">
                <dt>Name:</dt>
                <dd>{{ publisher.name }}</dd>
                <dt>Related Creatives</dt>
                <dd>
                    <ul class="list-group">
                        {% for relatedCreative in publisher.relatedCreatives %}
                            <li class="list-group-item">
                                <a href="{{ path('creative_show', {
                                    'id': relatedCreative.id
                                }) }}">
                                    {{ relatedCreative.name }}
                                </a>
                                <td>{{ relatedCreative.status }}</td>
                                <a href="{{ path('creative_edit', { 'id': relatedCreative.id }) }}">Edit</a>
                            </li>
                        {% endfor %}
                    </ul>
                </dd>
            </dl>
        </div>
    <ul>
        <li>
            <a href="{{ path('publisher_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('publisher_edit', { 'id': publisher.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
